<img src="https://blog.sodio.tech/wp-content/uploads/2018/10/Geolocation.gif">

# Nearby locations

Now we have to find the best `location` for the company to meet the needs of the employees.

These requirements are: 

* 30% of the company staff have at least 1 child.
* Executives like `Starbucks` A LOT.
* Account managers need to `travel` a lot.
* Everyone in the company is between 25 and 40, give them some `place to go party`.
* The CEO is `vegan`.
* If you want to make the maintenance guy happy, a `basketball` stadium must be around 10 Km.
* The office dogâ€”"Dobby" needs a `hairdresser` every month. Ensure there's one not too far away.

## Import the necessary libraries

In [30]:
from pymongo import MongoClient
import pandas as pd
import folium
from folium import Choropleth, Circle, Marker, Icon, Map
from folium.plugins import HeatMap, MarkerCluster
import requests
import json
import geopandas as gpd

import src.limpieza_texto as lt

from pandas import json_normalize
from functools import reduce
import operator

from dotenv import load_dotenv
import os
load_dotenv()

True

## `Starbucks` for executives.

<img width=300 src="https://media1.tenor.com/images/02aec29c943d29a82de6c2f1f6fe235b/tenor.gif?itemid=16412565">

In [2]:
lt.find_locations("Starbucks", 40, "Starbucks")

                 name                                           location
0           Starbucks  {'type': 'Point', 'coordinates': [37.760941364...
1           Starbucks  {'type': 'Point', 'coordinates': [37.766857, -...
2           Starbucks  {'type': 'Point', 'coordinates': [37.76288, -1...
3           Starbucks  {'type': 'Point', 'coordinates': [37.751373245...
4           Starbucks  {'type': 'Point', 'coordinates': [37.7658775, ...
5           Starbucks  {'type': 'Point', 'coordinates': [37.767286577...
6           Starbucks  {'type': 'Point', 'coordinates': [37.769122, -...
7           Starbucks  {'type': 'Point', 'coordinates': [37.77019, -1...
8           Starbucks  {'type': 'Point', 'coordinates': [37.784143143...
9           Starbucks  {'type': 'Point', 'coordinates': [37.77708998,...
10          Starbucks  {'type': 'Point', 'coordinates': [37.743762885...
11          Starbucks  {'type': 'Point', 'coordinates': [37.771196223...
12          Starbucks  {'type': 'Point', 'coordinates': [37.74474068,...
13          Starbucks  {'type': 'Point', 'coordinates': [37.784604823...
14          Starbucks  {'type': 'Point', 'coordinates': [37.76435593,...
15          Starbucks  {'type': 'Point', 'coordinates': [37.789148154...
16          Starbucks  {'type': 'Point', 'coordinates': [37.782738, -...
17          Starbucks  {'type': 'Point', 'coordinates': [37.78617, -1...
18          Starbucks  {'type': 'Point', 'coordinates': [37.775683, -...
19          Starbucks  {'type': 'Point', 'coordinates': [37.789650795...
20          Starbucks  {'type': 'Point', 'coordinates': [37.78615912,...
21  Starbucks Reserve  {'type': 'Point', 'coordinates': [37.791573734...
22          Starbucks  {'type': 'Point', 'coordinates': [37.77705718,...
23          Starbucks  {'type': 'Point', 'coordinates': [37.79011, -1...
24          Starbucks  {'type': 'Point', 'coordinates': [37.78936, -1...
25          Starbucks  {'type': 'Point', 'coordinates': [37.785782357...
26          Starbucks  {'type': 'Point', 'coordinates': [37.78736, -1...
27          Starbucks  {'type': 'Point', 'coordinates': [37.78598, -1...
28          Starbucks  {'type': 'Point', 'coordinates': [37.790179, -...
29          Starbucks  {'type': 'Point', 'coordinates': [37.791104495...
30          Starbucks  {'type': 'Point', 'coordinates': [37.78712238,...
31          Starbucks  {'type': 'Point', 'coordinates': [37.790268, -...
32          Starbucks  {'type': 'Point', 'coordinates': [37.788791650...
33          Starbucks  {'type': 'Point', 'coordinates': [37.79042546,...
34          Starbucks  {'type': 'Point', 'coordinates': [37.792820887...
35          Starbucks  {'type': 'Point', 'coordinates': [37.78622, -1...
36          Starbucks  {'type': 'Point', 'coordinates': [37.782074, -...
37          Starbucks  {'type': 'Point', 'coordinates': [37.787988923...
38          Starbucks  {'type': 'Point', 'coordinates': [37.78946201,...
39          Starbucks  {'type': 'Point', 'coordinates': [37.794613, -...

## `School` for the employees children.

<img width=300 src="https://media1.tenor.com/images/d5a07056d3d1427a0b41f2986139bad5/tenor.gif?itemid=12341332">

In [3]:
lt.find_locations("school", 20, "schools")

,name,location
0,Mission Kids Co-op,"{'type': 'Point', 'coordinates': [37.756418550..."
1,University Tutor - San Francisco,"{'type': 'Point', 'coordinates': [37.757591999..."
2,La Scuola Internazionale Di San Francisco - Mi...,"{'type': 'Point', 'coordinates': [37.762145996..."
3,Erwan Davon Teachings,"{'type': 'Point', 'coordinates': [37.757230750..."
4,Adventures In Clay,"{'type': 'Point', 'coordinates': [37.762932722..."
5,Interview Cake,"{'type': 'Point', 'coordinates': [37.764774322..."
6,St. James School,"{'type': 'Point', 'coordinates': [37.751895530..."
7,Hackbright Academy,"{'type': 'Point', 'coordinates': [37.764892285..."
8,Synergy School,"{'type': 'Point', 'coordinates': [37.750828821..."
9,the cocktail camp,"{'type': 'Point', 'coordinates': [37.764943, -..."
10,23rd Street Studio,"{'type': 'Point', 'coordinates': [37.753372257..."
11,Children's Day School,"{'type': 'Point', 'coordinates': [37.764035141..."
12,Piazza D'Italia,"{'type': 'Point', 'coordinates': [37.751327, -..."
13,Headstart Pre-school,"{'type': 'Point', 'coordinates': [37.758156, -..."
14,San Francisco Brightworks,"{'type': 'Point', 'coordinates': [37.762222846..."
15,SFBrightworks,"{'type': 'Point', 'coordinates': [37.76211, -1..."
16,Children's Day School (Middle School) Extension,"{'type': 'Point', 'coordinates': [37.759659184..."
17,School Marketing Strategies,"{'type': 'Point', 'coordinates': [37.755302429..."
18,St. Peter's Catholic School,"{'type': 'Point', 'coordinates': [37.751653999..."
19,City College: Castro Campus Rm 119,"{'type': 'Point', 'coordinates': [37.763744354..."

## `Airports` for Account Managers.

<img width=400 src="https://media1.tenor.com/images/38b9b17170b8a9996d568b450a2d6b23/tenor.gif?itemid=10903556">

In [4]:
lt.find_locations("airport", 5, "airport")

,name,location
0,San Francisco International Airport (SFO) (San...,"{'type': 'Point', 'coordinates': [37.616713000..."
1,Gate 10,"{'type': 'Point', 'coordinates': [37.76469, -1..."
2,SFO Airport Mailers,"{'type': 'Point', 'coordinates': [37.767778080..."
3,GOGO JETS - San Francisco Private Jet Charter,"{'type': 'Point', 'coordinates': [37.792352037..."
4,Airport Super Shuttle,"{'type': 'Point', 'coordinates': [37.785062, -..."

## `Place to party`.

<img width=300 src="https://i1.wp.com/www.sopitas.com/wp-content/uploads/2016/02/Party-Gif.gif">

In [5]:
nightclub = "nightclub"

In [6]:
lt.find_locations(nightclub, 35, "pub")

,name,location
0,Beauty Bar,"{'type': 'Point', 'coordinates': [37.760300178..."
1,Joleneâ€™s,"{'type': 'Point', 'coordinates': [37.765609546..."
2,El Techo,"{'type': 'Point', 'coordinates': [37.756576, -..."
3,500 Club,"{'type': 'Point', 'coordinates': [37.763127342..."
4,Double Dutch,"{'type': 'Point', 'coordinates': [37.764883868..."
5,Brunoâ€™s,"{'type': 'Point', 'coordinates': [37.758895868..."
6,Shades of Blues,"{'type': 'Point', 'coordinates': [37.755825379..."
7,Bootie San Francisco,"{'type': 'Point', 'coordinates': [37.770939060..."
8,Arena Sf,"{'type': 'Point', 'coordinates': [37.756134, -..."
9,Halcyon,"{'type': 'Point', 'coordinates': [37.771575373..."
10,The Knockout,"{'type': 'Point', 'coordinates': [37.745174, -..."
11,Audio Nightclub,"{'type': 'Point', 'coordinates': [37.771378317..."
12,Inner Mission SF,"{'type': 'Point', 'coordinates': [37.761120522..."
13,Midnight Sun,"{'type': 'Point', 'coordinates': [37.760819452..."
14,calle 11,"{'type': 'Point', 'coordinates': [37.771591, -..."
15,Brick & Mortar Music Hall,"{'type': 'Point', 'coordinates': [37.769910282..."
16,Skylark Bar,"{'type': 'Point', 'coordinates': [37.764884330..."
17,Hard French,"{'type': 'Point', 'coordinates': [37.746864, -..."
18,Roccapulco,"{'type': 'Point', 'coordinates': [37.747194540..."
19,SF Oasis,"{'type': 'Point', 'coordinates': [37.771949569..."
20,BEAUX,"{'type': 'Point', 'coordinates': [37.763492837..."
21,Public Works,"{'type': 'Point', 'coordinates': [37.768947757..."
22,The CafÃ©,"{'type': 'Point', 'coordinates': [37.762923732..."
23,The Holy COW,"{'type': 'Point', 'coordinates': [37.771470462..."
24,QBar,"{'type': 'Point', 'coordinates': [37.761624224..."
25,Delirium,"{'type': 'Point', 'coordinates': [37.764763663..."
26,Paradise Lounge,"{'type': 'Point', 'coordinates': [37.77164807,..."
27,Bissap Baobab,"{'type': 'Point', 'coordinates': [37.760398057..."

## Vegan restaurants for the `CEO`

<img width=300 src="https://i.gifer.com/7GsF.gif">

In [7]:
vegan = "4bf58dd8d48988d1d3941735"

In [8]:
lt.find_locations(vegan, 35, "restaurantes_veganos")

,name,location
0,Bowl'd Acai,"{'type': 'Point', 'coordinates': [37.761549481..."
1,Louise M. Davies Symphony Hall,"{'type': 'Point', 'coordinates': [37.777976164..."
2,K&D Market,"{'type': 'Point', 'coordinates': [37.764834498..."
3,H.D. Buttercup,"{'type': 'Point', 'coordinates': [37.765845, -..."
4,Tazza D'Amore,"{'type': 'Point', 'coordinates': [37.764198303..."
5,D/J Market LIQUOR,"{'type': 'Point', 'coordinates': [37.744412466..."
6,H.D. Buttercup,"{'type': 'Point', 'coordinates': [37.777489656..."
7,AMC Metreon 16,"{'type': 'Point', 'coordinates': [37.784654053..."
8,Tazza D'Amore,"{'type': 'Point', 'coordinates': [37.776636410..."
9,Law Offices of Lon D. Lazar,"{'type': 'Point', 'coordinates': [37.742075, -..."
10,"Optometrists - Irene Koga, O.D. & Jennifer Jun...","{'type': 'Point', 'coordinates': [37.775896327..."
11,D&M Wines and Liquors,"{'type': 'Point', 'coordinates': [37.789880138..."
12,MACâ€™D,"{'type': 'Point', 'coordinates': [37.796358183..."
13,Fior D'Italia,"{'type': 'Point', 'coordinates': [37.804361470..."

## `Basketball Stadium` for maintenance guy.

<img width=300 src="https://i.pinimg.com/originals/0e/3e/1b/0e3e1b1f6d974769f1b169d4fb42c3da.gif">

In [9]:
basketball = "Basketball Stadium"

In [10]:
lt.find_locations(basketball, 10, "basketball")

,name,location
0,Chase Center,"{'type': 'Point', 'coordinates': [37.767864, -..."
1,Google Cloud Courtside Lounge 25,"{'type': 'Point', 'coordinates': [37.768231, -..."
2,Kezar Pavilion,"{'type': 'Point', 'coordinates': [37.767442748..."
3,United Club,"{'type': 'Point', 'coordinates': [37.767808, -..."

## `Hairdresser` for dobby.

<img width=400 src="https://media1.tenor.com/images/94fd2125368ef9b983327185d40815c4/tenor.gif?itemid=14491854">

In [11]:
dog = "pet service"

In [12]:
lt.find_locations(dog, 15, "hairdresser")

,name,location
0,Mr. Muggles' Dogs,"{'type': 'Point', 'coordinates': [37.762211983..."
1,VCA San Francisco Veterinary Specialists,"{'type': 'Point', 'coordinates': [37.761463, -..."
2,Hound Lounge,"{'type': 'Point', 'coordinates': [37.762905787..."
3,WAG Hotel,"{'type': 'Point', 'coordinates': [37.768791414..."
4,VCA All Pets Hospital,"{'type': 'Point', 'coordinates': [37.76892, -1..."
5,Pet Food Express,"{'type': 'Point', 'coordinates': [37.769238790..."
6,Noe Valley Pet Company,"{'type': 'Point', 'coordinates': [37.747666246..."
7,"Sniff SF -- Dog Walking, Training & Boarding S...","{'type': 'Point', 'coordinates': [37.753001, -..."
8,Petco,"{'type': 'Point', 'coordinates': [37.766358328..."
9,Treat â€“Â Full Service Pet Care,"{'type': 'Point', 'coordinates': [37.765965336..."
10,Embarkadero Social Club,"{'type': 'Point', 'coordinates': [37.768919, -..."
11,Fetch! Pet Care of San Francisco,"{'type': 'Point', 'coordinates': [37.744274139..."
12,Pets Are Wonderful Support (PAWS),"{'type': 'Point', 'coordinates': [37.754220617..."

In [13]:
df_schools = pd.read_json("json/schools.json")
df_dog = pd.read_json("json/hairdresser.json")
df_star = pd.read_json("json/starbucks.json")
df_vegan = pd.read_json("json/restaurantes_veganos.json")
df_airport = pd.read_json("json/airport.json")
df_basket = pd.read_json("json/basketball.json")
df_pubs = pd.read_json("json/pub.json")

In [14]:
df_schools["type"] = "school"
df_dog["type"] = "dog_hairdresser"
df_star["type"] = "starbucks"
df_vegan["type"] = "vegan_restaurant"
df_airport["type"] = "airport"
df_basket["type"] = "basket"
df_pubs["type"] = "pub"

In [15]:
data = pd.concat([df_schools, df_dog, df_star, df_vegan, df_airport, df_basket, df_pubs])

In [16]:
ubi = data.reset_index(drop=True)

In [17]:
def lat(coord):
    return coord.get("coordinates")[0]

def lon(coord):
    return coord.get("coordinates")[1]

In [18]:
ubi["latitud"] = ubi["location"].apply(lt.lat)
ubi["longitud"] = ubi["location"].apply(lt.lon)
ubi

,name,location,type,latitud,longitud
0,Mission Kids Co-op,"{'type': 'Point', 'coordinates': [37.756418550...",school,37.756419,-122.417202
1,University Tutor - San Francisco,"{'type': 'Point', 'coordinates': [37.757592, -...",school,37.757592,-122.413628
2,La Scuola Internazionale Di San Francisco - Mi...,"{'type': 'Point', 'coordinates': [37.762145996...",school,37.762146,-122.416252
3,Erwan Davon Teachings,"{'type': 'Point', 'coordinates': [37.75723075,...",school,37.757231,-122.412394
4,Adventures In Clay,"{'type': 'Point', 'coordinates': [37.762932722...",school,37.762933,-122.415493
...,...,...,...,...,...
119,The Holy COW,"{'type': 'Point', 'coordinates': [37.771470462...",pub,37.771470,-122.414364
120,QBar,"{'type': 'Point', 'coordinates': [37.761624224...",pub,37.761624,-122.435193
121,Delirium,"{'type': 'Point', 'coordinates': [37.764763663...",pub,37.764764,-122.422863
122,Paradise Lounge,"{'type': 'Point', 'coordinates': [37.77164807,...",pub,37.771648,-122.413841
123,Bissap Baobab,"{'type': 'Point', 'coordinates': [37.760398057...",pub,37.760398,-122.418764

In [19]:
ubi.to_csv("./data/nearby.csv")

In [68]:
ubi.tail()

,name,location,type,latitud,longitud
119,The Holy COW,"{'type': 'Point', 'coordinates': [37.771470462...",pub,37.771470,-122.414364
120,QBar,"{'type': 'Point', 'coordinates': [37.761624224...",pub,37.761624,-122.435193
121,Delirium,"{'type': 'Point', 'coordinates': [37.764763663...",pub,37.764764,-122.422863
122,Paradise Lounge,"{'type': 'Point', 'coordinates': [37.77164807,...",pub,37.771648,-122.413841
123,Bissap Baobab,"{'type': 'Point', 'coordinates': [37.760398057...",pub,37.760398,-122.418764